@model WebApplication1.ViewModels.ResultsPageViewModel
@{
	Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/matches.css" />
<body>
	<div class="match-container">
		<table>
			<tbody>
				@foreach (var match in Model.Results)
				{
					<tr>
						<td>
							@match.Date
						</td>
						<td>
							<div>
								<img class="team-logo" src="data:image /png;base64,@(Convert.ToBase64String(match.Team1.Image))" />
								<br />
								<div class="image-container">@match.Team1.Name</div>
							</div>
						</td>
						<td>
							@{
								string Score = match.Score;
								if (match.Team1.Id != match.Winner)
								{
									var a = match.Score.Split(':');
									Score = a[1] + ':' + a[0];
								}
							}
							<div>
								<p>@Score</p>
							</div>
						</td>
						<td>
							<div>
								<img class="team-logo" src="data:image /png;base64,@(Convert.ToBase64String(match.Team2.Image))" />
								<br />
								<div class="image-container">@match.Team2.Name</div>
							</div>
						</td>
						<td>
							<div>@match.Event.Name</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
