@model WebApplication1.ViewModels.MatchViewModel

@{
	var e = ViewBag.CurrentEvent;
	var teams = ViewBag.CurrentTeams;
}
<div>
	<style>
		img {
			width: 300px;
			height: 150px;
		}
	</style>
	<img src="data:image /png;base64,@(Convert.ToBase64String(e.Image))" />
	<br />
	<a href="/event/@e.Id">@e.Name</a>
	<br />
	<a>@e.StartDate - @e.EndDate</a>
</div>
<p>
	Matches
</p>
<p>
	Teams
</p>
@foreach (var team in teams)
{
	<img src="data:image /png;base64,@(Convert.ToBase64String(team.Image))" />
	<p>
		Nickname: @team.Name
	</p>
}

<form asp-controller="Event" asp-action="AddMatch" asp-route-id="@e.Id" method="post">
	@Html.DropDownListFor(m => m.Team1, Model.Options, "Choose team1")
	@Html.DropDownListFor(m => m.Team2, Model.Options, "Choose team2")
	<input asp-for="Date" type="datetime-local"/>
	<button type="submit">Отправить</button>
</form>

