@using System.Security.Claims;
@{
	Layout = "_Layout";
	var e = ViewBag.CurrentEvent;
	var teams = ViewBag.CurrentTeams;
	var matches = ViewBag.CurrentMatches;
}
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="~/css/event.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<body>
	<div class="event-container">
		<div class="event-header">
			<img class="event-image" src="data:image /png;base64,@(Convert.ToBase64String(e.Image))" />
		</div>
		<div class="event-info">
			<h1 class="event-name"><a href="/event/@e.Id">@e.Name</a></h1>
			<p class="event-date">@e.StartDate - @e.EndDate</p>
		</div>
		<div class="match-container">
			<h1 class="team-section-title">Матчи</h1>
			<table>
				<tbody>
					@foreach (var match in matches)
					{
						<tr>
							<td>
								@match.Date
							</td>
							<td>	
								<div>
									<img class="team-logo" src="data:image /png;base64,@(Convert.ToBase64String(match.Team1.Image))" />
									<br />
									<div class="image-container">
										@match.Team1.Name
									</div>
								</div>
							</td>
							<td>
								<div>
									<img class="team-logo" src="data:image /png;base64,@(Convert.ToBase64String(match.Team2.Image))" />
									<br />
									<div class="image-container">
										@match.Team2.Name
									</div>
								</div>
							</td>
							@if (ViewBag.Role == "admin")
							{
								<td>
									<a asp-controller="Event" asp-action="DeleteMatch" asp-route-id="@match.Id" asp-route-eventId="@e.Id"><i class="fas fa-trash"></i></a>
									<a asp-controller="Event" asp-action="EditMatch" asp-route-id="@match.Id"><i class="fas fa-edit"></i></a>
									<a asp-controller="Event" asp-action="ConfirmMatch" asp-route-id="@match.Id"><i class="fas fa-check"></i></a>
								</td>
							}
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="all-teams">
			<h1 class="team-section-title">Команды</h1>	
			<div class="team-logos">
				@foreach (var team in teams)
				{
					<a asp-controller="Team" asp-action="Team" asp-route-id="@team.Id">
						<img class="team-logo" src="data:image /png;base64,@(Convert.ToBase64String(team.Image))" />
					</a>
				}
			</div>
		</div>

		@if (ViewBag.Role == "admin")
		{
			<h1 class="team-section-title">Добавить команду</h1>
			<div class="input-group">
				<input id="searchTeams" name="searchString" type="text"/>
				<button class="btn" id="searchButton" data-id="@e.Id" type="submit">Отправить</button>
			</div>
			<div id="teamsPartial"></div>
			<button class="butn" id="addMatchBtn" onclick="location.href='@Url.Action("AddMatch","Event", new {id = e.Id})'">Добавить матч</button>
		}
	</div>
</body>


<script>
	$(document).ready(function () {
		$('#searchButton').click(function () {
			var id = parseInt($(this).data('id'));
			var str = $('#searchTeams').val();
			$.ajax({
				url: '@Url.Action("SearchTeams", "Event")',
				type: 'GET',
				data: { id: id, str: str},
				success: function (result) {
					$('#teamsPartial').html(result);
				}
			});
		});
	});
</script>
