@using System.Security.Claims;
@{
	Layout = "_Layout";
	var e = ViewBag.CurrentEvent;
	var teams = ViewBag.CurrentTeams;
	var matches = ViewBag.CurrentMatches;
}
<link rel="stylesheet" href="~/css/event.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<body>
	<div class="event-container">
		<div class="event-header">
			<img class="event-image" src="data:image /png;base64,@(Convert.ToBase64String(e.Image))" />
		</div>
		<div class="event-info">
			<h1 class="event-name"><a href="/event/@e.Id">@e.Name</a></h1>
			<p class="event-date">@e.StartDate - @e.EndDate</p>
		</div>
		<div class="match-container">
			<h1 class="team-section-title">Матчи</h1>
			<table>
				<tbody>
					@foreach (var match in matches)
					{
						<tr>
							<td>
								@match.Date
							</td>
							<td>
								<div>
									<img class="team-logo" src="data:image /png;base64,@(Convert.ToBase64String(match.Team1.Image))" />
									<br />
									<div class="image-container">
										@match.Team1.Name
									</div>
								</div>
							</td>
							<td>
								<div>
									<img class="team-logo" src="data:image /png;base64,@(Convert.ToBase64String(match.Team2.Image))" />
									<br />
									<div class="image-container">
										@match.Team2.Name
									</div>
								</div>
							</td>
							@if (ViewBag.Role == "admin")
							{
								<td>
									<a asp-controller="Event" asp-action="DeleteMatch" asp-route-id="@match.Id" asp-route-eventId="@e.Id"><i class="fas fa-trash"></i></a>
									<a asp-controller="Event" asp-action="EditMatch" asp-route-id="@match.Id"><i class="fas fa-edit"></i></a>
									<a asp-controller="Event" asp-action="ConfirmMatch" asp-route-id="@match.Id"><i class="fas fa-check"></i></a>
								</td>
							}
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="all-teams">
			<h1 class="team-section-title">Команды</h1>	
			<div class="team-logos">
				@foreach (var team in teams)
				{
					<img class="team-logo" src="data:image /png;base64,@(Convert.ToBase64String(team.Image))" />
				}
			</div>
		</div>

		@if (ViewBag.Role == "admin")
		{
			<form asp-controller="Event" asp-action="SearchTeams" asp-route-id="@e.Id" method="post">
				<input name="searchString" type="text" />
				<button type="submit">Отправить</button>
			</form>

			var searchingTeams = ViewBag.SearchingTeams;
			if (searchingTeams != null)
			{
				foreach (var team in searchingTeams)
				{
					<img src="data:image /png;base64,@(Convert.ToBase64String(team.Image))" />
					<p>
						Nickname: @team.Name
					</p>
					<a asp-controller="Event" asp-action="AddTeam" asp-route-id="@e.Id" asp-route-teamId="@team.Id">Add</a>
					<a asp-controller="Event" asp-action="DeleteTeam" asp-route-id="@e.Id" asp-route-teamId="@team.Id">Delete</a>
				}
			}
			<a asp-controller="Event" asp-action="AddMatch" asp-route-id="@e.Id">AddMatch</a>
			<a asp-controller="Event" asp-action="Edit" asp-route-id="@e.Id">ChangeEvent</a>
		}
	</div>
</body>