@{
	var e = ViewBag.CurrentEvent;
	var teams = ViewBag.CurrentTeams;
	var matches = ViewBag.CurrentMatches;
}
<div>
	<style>
		img {
			width: 300px;
			height: 150px;
		}
	</style>
	<img src="data:image /png;base64,@(Convert.ToBase64String(e.Image))" />
	<br />
	<a href="/event/@e.Id">@e.Name</a>
	<br />
	<a>@e.StartDate - @e.EndDate</a>
</div>
<p>
	Matches
</p>
@foreach (var match in matches)
{
	<p>@match.Team1.Name - @match.Team2.Name @match.Date</p>
	if (ViewBag.Role == "admin")
	{
		<a asp-controller="Event" asp-action="DeleteMatch" asp-route-id="@match.Id">Delete</a>
		<a asp-controller="Event" asp-action="EditMatch" asp-route-id="@match.Id">Change</a>
	}
}
<p>
	Teams
</p>	
@foreach (var team in teams)
{
	<img src="data:image /png;base64,@(Convert.ToBase64String(team.Image))" />
	<p>
		Nickname: @team.Name
	</p>
}

@if (ViewBag.Role == "admin")
{
	<form asp-controller="Event" asp-action="SearchTeams" asp-route-id="@e.Id" method="post">
		<input name="searchString" type="text" />
		<button type="submit">Отправить</button>
	</form>

	var searchingTeams = ViewBag.SearchingTeams;
	if (searchingTeams != null)
	{
		foreach (var team in searchingTeams)
		{
			<img src="data:image /png;base64,@(Convert.ToBase64String(team.Image))" />
			<p>
				Nickname: @team.Name
			</p>
			<a asp-controller="Event" asp-action="AddTeam" asp-route-id="@e.Id" asp-route-teamId="@team.Id">Add</a>
			<a asp-controller="Event" asp-action="DeleteTeam" asp-route-id="@e.Id" asp-route-teamId="@team.Id">Delete</a>
		}
	}
	<a asp-controller="Event" asp-action="AddMatch" asp-route-id="@e.Id">AddMatch</a>
	<a asp-controller="Event" asp-action="Edit" asp-route-id="@e.Id">ChangeEvent</a>
}