@model WebApplication1.ViewModels.PlayerPageViewModel
@{
	Layout = "_Layout";
	var a = ViewBag.CurrentPlayer;
}
<link rel="stylesheet" href="~/css/team.css" />
<link rel="stylesheet" href="~/css/event.css" />
<style>
	.image-container {
		text-align: center;
		margin-bottom: 10px;
	}

	.image-container img {
		max-width: 180px;
		max-height: 180px;
	}

	.content {
		font-size: 18px;
		line-height: 1;
		color: #333;
	}

</style>
<body>
	<div class="container">
		<div class="image-container">
			<img src="data:image /png;base64,@(Convert.ToBase64String(a.Image))" />
		</div>
		<div class="content">
			<p>
				Ник: @a.Nickname
			</p>
			<p>
				Имя: @a.Name
			</p>
			<p>
				Возраст: @a.Age
			</p>
		</div>
		<table>
			<thead>
				<tr>
					<th>Убийства</th>
					<th>Смерти</th>
					<th>Помощи</th>
					<th>Хедшоты</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@Model.Stats.Kills</td>
					<td>@Model.Stats.Deaths</td>
					<td>@Model.Stats.Assists</td>
					<td>@Model.Stats.Headshots</td>
				</tr>
			</tbody>
		</table>
		@if (ViewBag.Role == "admin")
		{
			<a asp-controller="Player" asp-action="Edit" asp-route-id="@a.Id" >Edit</a>
		}
	</div>
</body>