@model WebApplication1.ViewModels.TeamsListViewModel;

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="~/css/teamslistpartial.css" />

<body>
	@if (Model.Teams != null && Model.Teams.Count != 0)
	{
		<div class="container">
			@foreach (var team in Model.Teams)
			{
				<div class="block">
					<div class="image-container">
						<img src="data:image /png;base64,@(Convert.ToBase64String(team.Image))" />
					</div>
					<div class="content">
						<h3>@team.Name</h3>
						<div class="buttons">
							<button class="addButton" data-id="@Model.Id" data-teamid="@team.Id">Add</button>
							<button id="deleteButton" class="remove" data-id="@Model.Id" data-teamid="@team.Id">Delete</button>
						</div>
					</div>
				</div>
			}
		</div>
	}
</body>

<script>
	$(document).ready(function () {
		$('.addButton').click(function () {
			var id = $(this).data('id');
			var teamId = $(this).data('teamid');
			$.ajax({
				url: '@Url.Action("AddTeam", "Event")',
				data: { id: id, teamId: teamId },
				success: function (result) {
					window.location.reload();
				}
			});
		});
	});
</script>


<script>
	$(document).ready(function () {
		$('.remove').click(function () {
			var id = $(this).data('id');
			var teamId = $(this).data('teamid');
			$.ajax({
				url: '@Url.Action("DeleteTeam", "Event")',
				data: { id: id, teamId: teamId },
				success: function (result) {
					window.location.reload();
				}
			});
		});
	});
</script>

