@model WebApplication1.ViewModels.CommentViewModel
@{
	Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/singlenews.css" />
<body>
	<div class="news">
		<h1 class="news-title">@ViewBag.CurrentNews.Title</h1>
		<p class="news-meta">@ViewBag.CurrentNews.Author | @ViewBag.CurrentNews.Date</p>
		<pre class="news-content">@Html.Raw(@ViewBag.CurrentNews.Content)</pre>
	</div>

	<div class="comments">

		@foreach (var comment in ViewBag.CurrentComments)
		{
			@if (comment.NewsId == ViewBag.CurrentId)
			{
				<div class="comment">
					<p class="comment-author">@comment.Author</p>
					<p class="comment-content">@comment.Content</p>
				</div>
			}
		}
	</div>
	<div class="comment-form">
		<form asp-controller="News" asp-action="AddComment" asp-route-id="@ViewBag.CurrentId">
			<textarea asp-for="Content" placeholder="Напишите комментарий" required></textarea>
			<button type="submit" class="btn btn-primary">Оставить комментарий</button>
		</form>
	</div>
</body>