<a asp-controller="Home" asp-action="Index">Home</a>
<br />
@{
    Layout = "_Layout"; 
	var a = ViewBag.CurrentTeam;
}
<img src="data:image /png;base64,@(Convert.ToBase64String(a.Image))" />
<p>
	Nickname: @a.Name
</p>

@if (ViewBag.CurrentPlayers != null)
{
	<ul>
		<style>
			li {
				display: inline-block;
			}
			img {
				width: 150px;
				height: 150px;
			}
		</style>
		@foreach (var player in ViewBag.CurrentPlayers)
		{
			<li>
				<a href="@Url.Action("Player", "Player", new { id = player.Id })">
					<img src="data:image /png;base64,@(Convert.ToBase64String(player.Image))" />
				</a>
				<p>@player.Nickname</p>
				<p>@player.Name</p>
				<p>@player.Age</p>
			</li>
		}
	</ul>
}

@if (ViewBag.Role == "admin")
{
	<a asp-controller="Team" asp-action="Edit" asp-route-id="@a.Id">Edit</a>
	<form asp-controller="Team" asp-action="SearchPlayers" asp-route-id="@ViewBag.CurrentId" method="post">
		<input name="searchString" type="text"/>
		<button type="submit">Отправить</button>
	</form>
	var cur = ViewBag.Players;
	if (ViewBag.Players != null)
	{
		@foreach (var player in ViewBag.Players)
		{
			<a>@player.Id @player.Name @player.Nickname</a>
			<a asp-controller="Team" asp-action="AddPlayer" asp-route-id="@player.Id" asp-route-teamId="@a.Id" >Add</a>
			<a asp-controller="Team" asp-action="DeletePlayer" asp-route-id="@player.Id" asp-route-teamId="@a.Id" >Delete</a>
			<br />
		}
	}

}